<% include ../includes/head %>
<% include navHead %>

<div class="container">
    <div class="row-fluid">
        <div class="span2">
            <% include navBar %>
        </div>
        <div class="span10">
            <form action="/password/change" method="post">
                <div>
                    <div>
                        <label>Old password: </label>
                        <input type="password" name="oldpwd" required="true"/>
                    </div>

                    <div>
                        <label>New password: </label>
                        <input type="password" name="newpwd" required="true"/>
                    </div>

                    <div>
                        <label>Confirm new password: </label>
                        <input type="password" name="confirmnewpwd" required="true"/>
                    </div>
                    <div>
                        <% if (message) { %>
                        <p><%= message %></p>
                        <% } %>
                    </div>
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../includes/foot %>