<ul id="navBar" class="nav nav-list">

    <!--Course Management-->
    <li class="nav-header">Course Management</li>
    <li><a href="/admin/home">List Courses</a></li>
    <li><a href="/admin/course/add">Add a Course</a></li>

    <!--Student Management-->
    <li class="nav-header">Student Management</li>
    <li><a href="#">List Students</a></li>
    <li><a href="#">Add an Student</a></li>

    <!--Teacher Management-->
    <li class="nav-header">Teacher Management</li>
    <li><a href="/admin/teacher/list">List Teachers</a></li>
    <li><a href="/admin/teacher/add">Add a Teacher</a></li>

    <!--Scheduling-->
    <li class="nav-header">Scheduling</li>
    <li><a href="/admin/assign/teacher">Assign Teacher</a></li>
    <li><a href="#">View Schedule</a></li>

    <!--Profile-->
    <li class="nav-header">Profile</li>
    <li><a href="/password/change">Change Password</a></li>
    <li><a href="/signout">Sign out</a></li>

</ul>