<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Course Registration System</a>
            <ul class="nav pull-right">
                <li><p class="navbar-text">Hi, <%= locals.username %></p></li>
                <li><a href="/password/change">Change my password</a></li>
                <li><a href="/signout">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>